.game-card {
  display: flex;
  justify-content: center;
  &__wrapper {
    display: flex;
    padding: 20px;
    border-radius: 8px;
    background-color: #0A335F
  };

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    color: white;
    &-item {
      margin-bottom: 20px;
    }
    &-title {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
}