@keyframes shake {
  from {transform: translateX(0px)}
  23% {transform: translateX(5px)}
  46% {transform: translateX(0px)}
  69% {transform: translateX(-5px)}
  to {transform: translateX(0px)}
}

.tetris {
  display: flex;
  justify-content: center;
  &__field {
    border-left: 1px solid #ACACAC;
    border-top: 1px solid #ACACAC;
  }
  &__row {
    display: flex;
  }
  &__row_filled {
    animation: shake 0.5s infinite ease-in;
  }
  &__gamePoints {
    color: wheat;
  }
  &__item {
    background-color: rgba(35,155,216, 0.3);
    padding: 14px;
    border-bottom: 1px solid #ACACAC;
    border-right: 1px solid #ACACAC;
  }
  &__item_full {
    background-color: #50C878;
  }
}