@keyframes shake {
  from {transform: translateX(0px)}
  13% {transform: translateX(3px)}
  25% {transform: translateX(0px)}
  38% {transform: translateX(-3px)}
  51% {transform: translateX(3px)}
  64% {transform: translateX(0px)}
  78% {transform: translateX(-3px)}
  to {transform: translateX(0px)}
}

.tetris {
  display: flex;
  justify-content: center;
  &__field {
    border-top: 1px solid #ACACAC;
  }
  &__row {
    display: flex;
  }
  &__row_filled {
    animation: shake 0.5s infinite ease-out;
  }
  &__gamePoints {
    color: wheat;
  }
  &__item {
    background-color: rgba(35,155,216, 0.3);
    padding: 14px;
    border-bottom: 1px solid #ACACAC;
    border-right: 1px solid #ACACAC;
  }
  &__item:first-child {
    border-left: 1px solid #ACACAC;
  }
  &__item_full {
    background-color: #50C878;
  }
}